/*.img-top{*/
/*    width: 100%;*/
/*    height: auto;*/
/*    opacity: 0.8;*/
/*}*/

body {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
}

/*TOP*/
.top {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.top-h1 {
    color: #777;
}

.top-socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-socials a {
    display: block;
    text-decoration: none;
    margin: 0 10px;
}

.top-socials a svg {
    opacity: 0.9;
    transition: all 0.5s;
}

.top-socials a:hover svg {
    opacity: 1;
    transform: scale(1.1);
}

/*MIDDLE*/
.middle {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.middle-button-link {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
    opacity: 0.9;
    transition: all 0.7s;
}

.middle-button-link:hover {
    opacity: 1;
    transform: scale(1.03);
}

.middle-button {
    display: flex;
    /*border: 1px solid green;*/

}

.middle-button-block {
    /*flex:1;*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    flex-direction: column;
}

.middle-button-block img {
    width: 100%;
}

.text-block {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(220, 204, 178, 0.7);
    line-height: 1.4rem;
    color: #4a4a4a;
}

.text-block-more {
    margin-top: 20px;
    font-size: 12px;
}

.background-block {
    background-size: cover;
    background-position: center;
}

.background-1 {
    background-image: url("./IMG_4029.jpg");
    background-size: 300%;
    background-position: 0 5%;
}

.background-2 {
    background-image: url("./IMG_4029.jpg");
    background-size: 300%;
    background-position: 80% 80%;
}

.background-3 {
    background-image: url("./IMG_4029.jpg");
    background-size: 300%;
    background-position: 50% 100%;
}

.background-4 {
    background-image: url("./IMG_4029.jpg");
    background-size: 300%;
    background-position: 10% 50%;
}

/*BOTTOM*/
.bottom-button-link {
    display: flex;
    background-color: rgba(220, 204, 178, 0.7);
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    border-radius: 30px;
    overflow: hidden;
    opacity: 0.9;
    transition: all 0.7s;
    margin-bottom: 40px;
    color: #4a4a4a;
}

.bottom-button-link:hover {
    opacity: 1;
    transform: scale(1.03);
}



