:root {
  --custom-backdrop-opacity: 0.75;
  --primary-color: #961A0B;
  /* --lightAccent-hsl: 34.28571429, 20%, 93.1372549%; */
}


body {
  font-family: "Nanum Myeongjo", "Times New Roman", Times, serif;
  /* font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-family: "Inter", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  color: #222;
  font-style: normal;
  background-color: #F0EEEA;
}

body a {
  color: #222;
}

b,
strong {
  font-weight: 700;
}


.bg-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;

}

.bg-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-video-overlay {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  /* background: rgba(255, 255, 255, 0.45); */
  /* Adjust opacity/color as needed */
  z-index: 1;
  /* transform: blur(8px); */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px); */
}

main,
.container,
.footer {
  position: relative;
  z-index: 2;
}

.modal-backdrop {
  opacity: var(--custom-backdrop-opacity) !important;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.modal h4 {
  font-weight: 700;
  font-size: 1.2rem;
}

.modal h1 {
  font-weight: 700;
  text-align: center;
  width: 100%;
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.container {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
}

/*LANGUAGES*/
.lang-bar {
  display: flex;
  justify-content: flex-end;
}

.lang-bar img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  opacity: 0.7;
  transition: all 0.3s;
}

.lang-bar a {
  display: block;
}

.lang-bar img:hover,
.lang-bar img.active {
  opacity: 1;
}

/*TOP*/
.top {
  margin-top: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #F0EEEA; */
  position: relative;
  z-index: 1;
}

.top-img {
  width: 170px;
  display: none;
  /* height: 200px; */
  /* border-radius: 50%; */
  /* border: 2px solid #fff; */
}

.top-h1 {
  color: #000;
  margin-bottom: 20px;
  font-size: 22px;
  margin-top: 0;
  /* color: var(--primary-color); */
  /* font-weight: 700; */
  width: 100%;
  /* background-color: var(--primary-color); */
  padding: 14px 20px;
  text-align: center;
  /* text-transform: uppercase; */
  opacity: 0.7;
}

.top-h3 {
  font-size: 14px;
  text-align: center;
  margin: 0 auto 20px;
  font-weight: 400;
  color: #222;
}

.top-button-donation {
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  /* border: 1px solid var(--primary-color);
  border-radius: 30px;
  background-color: var(--primary-color);
  color: #222; */
  /* border-radius: 0; */
  background: #fafafa;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

.top-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.top-socials a {
  display: block;
  text-decoration: none;
  margin: 0 10px;
}

.top-socials a svg {
  opacity: 0.9;
  transition: all 0.5s;
}

.top-socials a:hover svg {
  opacity: 1;
  transform: scale(1.1);
}

/*MIDDLE*/
.sections-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #333;
}

.middle {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.middle-button-link {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.8;
  transition: all 0.3s;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 10px 30px 0px;
  border: 1px solid var(--primary-color);
}


.middle-button-link:hover {
  opacity: 1;
  transform: scale(1.03);
}

.middle-button {
  display: flex;
  /*border: 1px solid green;*/

}

.middle-button-block {
  /*flex:1;*/
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  flex-direction: column;
}

.middle-button-block img {
  width: 100%;
}

.text-block {
  padding: 40px 20px;
  text-align: center;
  background-color: #fafafa;
  /* background-color: rgba(220, 204, 178, 0.7); */
  /* line-height: 1.4rem; */
  color: #222;
  font-size: 0.9rem;
  line-height: 1.15rem;
  color: var(--primary-color);
}

.text-block b {
  margin-bottom: 8px;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--primary-color);
}

.text-block-more {
  margin-top: 20px;
  font-size: 12px;
  color: #222;
}

.background-block {
  background-size: cover;
  background-position: center;
  /*opacity: 0.9;*/
  /*filter: brightness(80%);*/
}

/* .background-1 {
  background-image: url("./IMG_4029.jpg");
  background-size: 300%;
  background-position: 0 5%;
}

.background-2 {
  background-image: url("./IMG_4029.jpg");
  background-size: 300%;
  background-position: 85% 20%;
}

.background-3 {
  background-image: url("./IMG_4029.jpg");
  background-size: 300%;
  background-position: 70% 100%;
}

.background-4 {
  background-image: url("./IMG_4029.jpg");
  background-size: 300%;
  background-position: 10% 90%;
} */

.background-5 {
  /* background-image: url("https://images.squarespace-cdn.com/content/v1/634dd6021dc8c8231db0d736/1672190652373-EE7724QTVJDAJQFD3BEY/unsplash-image-tQvUZtcKR1s.jpg?format=900w"); */
  background-image: url("./LY-book-Hidden.webp");
  /* background-size: 300%;
  background-position: 10% 90%; */
  background-position: 50% 33%;
}

.background-6 {
  background-image: url("./LY-work-with-me.jpg");
  /* background-size: 300%;
  background-position: 10% 90%; */
}

.background-7 {
  /* background-image: url("https://images.squarespace-cdn.com/content/v1/634dd6021dc8c8231db0d736/1672190652373-EE7724QTVJDAJQFD3BEY/unsplash-image-tQvUZtcKR1s.jpg?format=900w"); */
  background-image: url("./LY-book-Energetic.webp");
  /* background-size: 300%;
  background-position: 10% 90%; */
  background-position: 50% 19%;
}

.background-8 {
  /* background-image: url("https://images.squarespace-cdn.com/content/v1/634dd6021dc8c8231db0d736/1672190652373-EE7724QTVJDAJQFD3BEY/unsplash-image-tQvUZtcKR1s.jpg?format=900w"); */
  background-image: url("./LY-sacred-women.jpeg");
  /* background-size: 300%;
  background-position: 10% 90%; */
  background-position: 50% 23%;
}

.background-9 {
  /* background-image: url("https://images.squarespace-cdn.com/content/v1/634dd6021dc8c8231db0d736/1672190652373-EE7724QTVJDAJQFD3BEY/unsplash-image-tQvUZtcKR1s.jpg?format=900w"); */
  background-image: url("./LY-childrens-consultation.jpg");
  /* background-size: 300%;
  background-position: 10% 90%; */
  background-position: 50% 37%;
}

.background-10 {
  /* background-image: url("https://images.squarespace-cdn.com/content/v1/634dd6021dc8c8231db0d736/1672190652373-EE7724QTVJDAJQFD3BEY/unsplash-image-tQvUZtcKR1s.jpg?format=900w"); */
  background-image: url("./LY-PRACTICE FOR SWELLING.jpg");
  /* background-size: 300%;
  background-position: 10% 90%; */
  background-position: 50% 25%;
}

.background-11 {
  /* background-image: url("https://images.squarespace-cdn.com/content/v1/634dd6021dc8c8231db0d736/1672190652373-EE7724QTVJDAJQFD3BEY/unsplash-image-tQvUZtcKR1s.jpg?format=900w"); */
  background-image: url("./LY-bells-palsy.jpg");
  /* background-size: 300%;
  background-position: 10% 90%; */
  background-position: 50% 25%;
}




/* Review Section Styles */
.review-section {
  width: 100%;
  /* max-width: 480px; */
  margin: 0 auto 2rem auto;
  padding: 1.5rem 0;
}

.review-title {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.02em;
}

.review-card {
  /* background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 24px rgba(150, 26, 11, 0.08); */
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s;
  margin-bottom: 40px;
}

/* .review-card:hover {
  box-shadow: 0 8px 32px rgba(150, 26, 11, 0.16);
} */

.review-text {
  font-size: 1.25rem;
  color: #000;
  text-align: center;
  margin-bottom: 1.25rem;
  font-style: italic;
}

.review-author {
  font-size: 1rem;
  color: #222;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: #000;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* .swiper-button-next,
.swiper-button-prev {
  color: #222;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
} */

@media (max-width: 600px) {
  .review-section {
    max-width: 98vw;
    padding: 1rem 0;
  }

  .review-card {
    padding: 1.2rem 0.7rem 1rem 0.7rem;
  }
}




/* FAQ Section Styles */
.faq-section {
  /* max-width: 700px; */
  margin: 0 auto;
  background-color: var(--primary-color);
  /* padding: 0 1rem; */
  position: relative;
}

/* .faq-title {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
} */

.faq-list {
  /* border-radius: 12px; */
  overflow: hidden;
  /* border: 1px solid var(--primary-color); */
}

.faq-item+.faq-item {
  border-top: 0.5px solid #777;
}

.faq-question {
  width: 100%;
  background: var(--primary-color);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 1rem;
  /* font-size: 1.1rem; */
  font-family: inherit;
  cursor: pointer;
  transition: background 0.2s;
  max-width: 700px;
  margin: 0 auto;
}

.faq-question b {
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

.faq-question:hover {
  /* background: #f7f7f7; */
}

.faq-q-text {
  text-align: left;
  flex: 1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.faq-toggle {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  transition: transform 0.3s cubic-bezier(.4, 2, .6, 1);
}

.faq-toggle::before,
.faq-toggle::after {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(.4, 2, .6, 1);
}

.faq-toggle::before {
  top: 11px;
  left: 5px;
  width: 14px;
  height: 2.5px;
}

.faq-toggle::after {
  left: 11px;
  top: 5px;
  width: 2.5px;
  height: 14px;
}

.faq-item.active .faq-toggle {
  transform: rotate(180deg);
}

.faq-item.active .faq-toggle::after {
  opacity: 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  /* background: #fafafa; */
  /* transition: max-height 0.4s cubic-bezier(.4, 2, .6, 1), padding 0.3s; */
  transition: all 0.4s cubic-bezier(.4, 2, .6, 1);
  padding: 0 1.2rem;
  max-width: 700px;
}

.faq-item.active .faq-answer {
  max-height: 400px;
  padding: 0.5rem 1rem 0.5rem 4rem;
  color: #fff;
  font-size: 0.9rem;
  margin: 0 auto;
  max-width: 700px;
}

body .modal-content {
  /* border-radius: 0; */
  background-color: #F0EEEA;
}

body .modal-header {
  border-bottom: none;
  padding: 0.8rem 0.8rem 0.4rem;
}

body .modal-header>div {
  width: 100%;
}

body .modal-footer {
  border-top: none;
  background: var(--primary-color);
  flex-direction: column;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  background-color: #fff;
  color: var(--primary-color);
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  /* border: 1px solid #fff;
  border-radius: 14px; */
}

.modal-body {
  position: relative;
}

.modal-free-book-link {
  /* position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 12px; */
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 0.4px solid #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.footer {
  padding: 10px 0;
  margin-bottom: 20px;
}

.footer-text {
  margin: 0;
  text-align: center;
  color: #777;
  font-size: 12px;
}

.modal-footer .nav-tabs {
  margin: 6px auto 0;
  border: 1px solid #fff;
  border-radius: 0px;
  overflow: hidden;
}

.modal-footer .nav-tabs .nav-link {
  font-weight: 700;
  font-size: 14px;
  border-radius: 0;
  text-transform: uppercase;
  color: #fff;
  border: none;
  margin: 1px;
}

.modal-footer .nav-tabs .nav-link.active {
  border-radius: 0;
  background: #fff;
  color: var(--primary-color);
}

.modal-footer .price {
  font-size: 1.25rem;
  color: #fff;
}

.modal-footer .price span {
  font-size: 14px;
}

/*BOTTOM*/
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.bottom-link {
  /* font-size: 1.1rem; */
  color: #111;
  margin-bottom: 10px;
}

.bottom-button-link {
  display: flex;
  background-color: #F4F5F7;
  /*background-color: rgba(220, 204, 178, 0.7);*/
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  border-radius: 30px;
  overflow: hidden;
  opacity: 0.9;
  transition: all 0.7s;
  margin-bottom: 40px;
  color: #4a4a4a;
}

.bottom-button-link:hover {
  opacity: 1;
  transform: scale(1.03);
}

.custom-buy-btn {
  background-color: #E51D4D;
  color: #222;
}
