body {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}
b,strong{
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
}

/*LANGUAGES*/
.lang-bar {
    display: flex;
    justify-content: flex-end;
}

.lang-bar img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    opacity: 0.7;
    transition: all 0.3s;
}

.lang-bar a {
    display: block;
}

.lang-bar img:hover,
.lang-bar img.active {
    opacity: 1;
}

/*TOP*/
.top {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.top-h1 {
    color: #222;
    margin-bottom: 10px;
    font-size: 22px;
    margin-top: 20px;
}

.top-h3 {
    font-size: 14px;
    text-align: center;
    margin: 0 auto 20px;
    font-weight: 400;
}

.top-socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-socials a {
    display: block;
    text-decoration: none;
    margin: 0 10px;
}

.top-socials a svg {
    opacity: 0.9;
    transition: all 0.5s;
}

.top-socials a:hover svg {
    opacity: 1;
    transform: scale(1.1);
}

/*MIDDLE*/
.middle {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.middle-button-link {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
    opacity: 0.9;
    transition: all 0.7s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.middle-button-link:hover {
    opacity: 1;
    transform: scale(1.03);
}

.middle-button {
    display: flex;
    /*border: 1px solid green;*/

}

.middle-button-block {
    /*flex:1;*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    flex-direction: column;
}

.middle-button-block img {
    width: 100%;
}

.text-block {
    padding: 40px 20px;
    text-align: center;
    background-color: #F4F5F7;
    /*background-color: rgba(220, 204, 178, 0.7);*/
    line-height: 1.4rem;
    color: #000;
}

.text-block-more {
    margin-top: 20px;
    font-size: 12px;
}

.background-block {
    background-size: cover;
    background-position: center;
    /*opacity: 0.9;*/
    /*filter: brightness(80%);*/
}

.background-1 {
    background-image: url("./IMG_4029.jpg");
    background-size: 300%;
    background-position: 0 5%;
}

.background-2 {
    background-image: url("./IMG_4029.jpg");
    background-size: 300%;
    background-position: 85% 20%;
}

.background-3 {
    background-image: url("./IMG_4029.jpg");
    background-size: 300%;
    background-position: 70% 100%;
}

.background-4 {
    background-image: url("./IMG_4029.jpg");
    background-size: 300%;
    background-position: 10% 90%;
}

/*BOTTOM*/
.bottom-button-link {
    display: flex;
    background-color: #F4F5F7;
    /*background-color: rgba(220, 204, 178, 0.7);*/
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    border-radius: 30px;
    overflow: hidden;
    opacity: 0.9;
    transition: all 0.7s;
    margin-bottom: 40px;
    color: #4a4a4a;
}

.bottom-button-link:hover {
    opacity: 1;
    transform: scale(1.03);
}



